/* CSS Reset Rule */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************************************************************************************************/

/* Navbar Styling */

/* .navbar {
    background-color: #16610E;
} */

.navbar-nav a {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    color: #F97A00 !important;
    text-decoration: none;
    padding: 10px 20px;
}

/*********************************************************************************************************/

/* Landing Page Styling */

.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    background: url('./images/landing.png');
    background-size: cover;
    background-position: center;
    padding: 0 20px
}

.landing-text {
    max-width: 500px;
    color: white; 
}

.landing-text h1 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 5rem;
    margin-bottom: 20px;
}

.landing-text p {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 20px;
}

.btn-shop-now {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    background-color: #F97A00;
    border: none;
    font-size: 1.25rem;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 50px;
}

.btn-shop-now:hover {
    background-color: #16610E;
    color: white;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .landing-text h1 {
        font-size: 4rem; 
    }

    .landing-text p {
        font-size: 1rem; 
    }

    .btn-shop-now {
        font-size: 1.1rem; 
        padding: 8px 16px;
    }
}


/*********************************************************************************************************/

/* Popular Categories Styling */

.categories-container {
    padding: 20px;
}

.section-title {
    font-family: Poppins;
    text-align: justify;
    margin-left: 1.75rem;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000000;
    margin-top: 5rem;
}

.popular-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;
}

.category-item {
    text-align: center;
    background-color: #FFF4A4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.category-item img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.category-item:hover {
    transform: translateY(-10px);
}

.category-item:hover img {
    transform: scale(1.1);
}

.category-item p {
    font-family: Poppins;
    margin-top: 10px;
    font-size: 25px;
    color: #000000;
}

@media (min-width: 1200px) {
    .popular-categories {
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: repeat(1, auto); 
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .popular-categories {
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, auto); 
    }
}

@media (max-width: 992px) {
    .popular-categories {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, auto); 
    }
    .section-title {
        text-align: center;
        font-size: 2.75rem;
        margin-top: 5rem;
    }
}

@media (max-width: 576px) {
    .popular-categories {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(6, auto); 
    }
    .section-title {
        text-align: center;

    }
}

/*********************************************************************************************************/

/* Top Picks Styling */

.toppicks-container {
    padding: 20px;
}

.toppicks-title {
    font-family: Poppins;
    text-align: justify;
    margin-left: 1.75rem;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000000;
    margin-top: 5rem;
}

.toppicks-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;
}

.picks-item {
    text-align: center;
    background-color: #FFF4A4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.picks-item img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.picks-item:hover {
    transform: translateY(-10px);
}

.picks-item:hover img {
    transform: scale(1.1);
}

.picks-item p {
    font-family: Poppins;
    margin-top: 10px;
    font-size: 25px;
    color: #000000;
}

@media (min-width: 1200px) {
    .toppicks-categories {
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: repeat(1, auto); 
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .toppicks-categories {
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, auto); 
    }
}

@media (max-width: 992px) {
    .toppicks-categories {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, auto); 
    }
    .toppicks-title {
        text-align: center;
        font-size: 2.75rem;
        margin-top: 5rem;
    }
}

@media (max-width: 576px) {
    .toppicks-categories {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(6, auto); 
    }
    .toppicks-title {
        text-align: center;

    }
}